<div class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" checked="checked" />
  <div class="collapse-title text-xl font-medium">
    Click to open this one and close others
  </div>
  <div class="collapse-content">
    <p>hello</p>
  </div>
</div>
<div class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" />
  <div class="collapse-title text-xl font-medium">
    Click to open this one and close others
  </div>
  <div class="collapse-content">
    <p>hello</p>
  </div>
</div>
<div class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" />
  <div class="collapse-title text-xl font-medium">
    Click to open this one and close others
  </div>
  <div class="collapse-content">
    <p>hello</p>
  </div>
</div>

<div *ngFor="let fridgeItem of fridgeItems">
  <p>{{ fridgeItem.name }}</p>
</div>

<button class="btn btn-primary" onclick="add_item_modal.showModal()">
  Add item
</button>
<dialog id="add_item_modal" class="modal">
  <div class="modal-box w-96">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <h3 class="font-bold text-lg">Add item</h3>
    <input
      #name
      type="text"
      placeholder="Name"
      class="input input-ghost w-full"
    />
    <textarea
      #description
      class="textarea textarea-ghost w-full"
      placeholder="Description"
    ></textarea>
    <input
      #expirationDate
      type="date"
      id="start"
      name="expiration-date"
      min="2024-01-01"
      max="2030-12-31"
      class="input input-ghost w-full"
      [value]="today"
    />
    <div class="modal-action">
      <form id="modal_action_dialog_form" method="dialog">
        <button class="btn btn-ghost">Cancel</button>
        <button
          type="submit"
          form="add_item_form"
          class="btn btn-primary"
          (click)="addItem(name.value, description.value, expirationDate.value)"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
</dialog>
