<div class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" checked="checked" />
  <div class="collapse-title text-xl font-medium">
    Click to open this one and close others
  </div>
  <div class="collapse-content">
    <p>hello</p>
  </div>
</div>
<div class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" />
  <div class="collapse-title text-xl font-medium">
    Click to open this one and close others
  </div>
  <div class="collapse-content">
    <p>hello</p>
  </div>
</div>
<div class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" />
  <div class="collapse-title text-xl font-medium">
    Click to open this one and close others
  </div>
  <div class="collapse-content">
    <p>hello</p>
  </div>
</div>

<div *ngFor="let fridgeItem of fridgeItems">
  <p>{{ fridgeItem.name }}</p>
</div>

<div class="card w-96 glass shadow-xl">
  <div class="card-body">
    <div class="card-actions justify-between">
      <h2 class="card-title">Add item</h2>
      <button class="btn-circle btn-sm bg-transparent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <form class="">
      <input
        #name
        type="text"
        placeholder="Name"
        class="input input-ghost w-full max-w-xs"
        required
      />
      <textarea
        #description
        class="textarea textarea-ghost w-full max-w-xs"
        placeholder="Description"
      ></textarea>
      <input
        #expirationDate
        type="date"
        id="start"
        name="expiration-date"
        min="2024-01-01"
        max="2030-12-31"
        class="input input-ghost w-full max-w-xs"
        required
        [value]="today"
      />
      <div class="card-actions justify-end">
        <button class="btn btn-ghost">Cancel</button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="addItem(name.value, description.value, expirationDate.value)"
        >
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
