<div class="join join-vertical w-full shadow-xl">
  <div *ngFor="let fridgeItem of fridgeItems">
    <div
      class="collapse collapse-arrow join-item glass bg-primary bg-opacity-60 pl-5 pr-5"
    >
      <input type="radio" name="fridge_items_accordion" />
      <!-- <input type="checkbox" /> -->
      <div class="collapse-title text-l font-medium">
        {{ fridgeItem.name }}
      </div>
      <div class="collapse-content">
        <p>Expiration date: {{ fridgeItem.expirationDate }}</p>
        <p>Added on: {{ fridgeItem.createdAt }}</p>
        <p>Added by: {{ fridgeItem.createdBy }}</p>
        <p>Description: {{ fridgeItem.description }}</p>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary" onclick="add_item_modal.showModal()">
  Add item
</button>
<dialog id="add_item_modal" class="modal">
  <div class="modal-box w-96">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <h3 class="font-bold text-lg">Add item</h3>
    <input
      #name
      type="text"
      placeholder="Name"
      class="input input-ghost w-full"
    />
    <textarea
      #description
      class="textarea textarea-ghost w-full"
      placeholder="Description"
    ></textarea>
    <input
      #expirationDate
      type="date"
      id="start"
      name="expiration-date"
      min="2024-01-01"
      max="2030-12-31"
      class="input input-ghost w-full"
      [value]="today"
    />
    <div class="modal-action">
      <form id="modal_action_dialog_form" method="dialog">
        <button class="btn btn-ghost">Cancel</button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="addItem(name.value, description.value, expirationDate.value)"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
