<dialog id="add_item_modal" class="modal">
  <div class="max-w-sm modal-box inset-x-4 nx-glass">
    <div class="flex items-center justify-between mb-4">
      <h3 class="ml-2 text-lg font-bold">Add item</h3>
      <form method="dialog">
        <button class="btn btn-circle btn-sm nx-btn-glass">✕</button>
      </form>
    </div>

    <input
      type="text"
      placeholder="Name"
      class="w-full mb-2 input nx-input-glass"
      [(ngModel)]="name"
    />

    <textarea
      class="textarea w-full mb-0.5 nx-input-glass"
      placeholder="Description"
      [(ngModel)]="description"
    ></textarea>

    <input
      type="date"
      id="start"
      name="expiration-date"
      min="2024-01-01"
      max="2030-12-31"
      class="w-full input nx-input-glass"
      [(ngModel)]="expirationDate"
    />

    <div class="modal-action">
      <form id="modal_action_dialog_form" method="dialog">
        <button class="mr-1 btn nx-btn-glass">Cancel</button>
        <button
          type="submit"
          class="btn nx-btn-glass-green"
          (click)="addItem()"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="bg-transparent modal-backdrop">
    <button>close</button>
  </form>
</dialog>
