<dialog id="add_item_modal" class="modal">
  <div
    class="max-w-sm modal-box inset-x-4 bg-white/30 border-t-[2px] border-b-[2px] border-white border-opacity-35 shadow-xl backdrop-blur-sm ring-1 ring-black/5"
  >
    <form method="dialog">
      <button class="absolute btn btn-sm btn-circle btn-ghost right-2 top-2">
        ✕
      </button>
    </form>

    <h3 class="text-lg font-bold mb-4 ml-2">Add item</h3>

    <input
      type="text"
      placeholder="Name"
      class="input w-full mb-2 shadow-sm bg-white/70 border-2 border-orange-400"
      [(ngModel)]="name"
    />

    <textarea
      class="w-full border-2 border-orange-300 textarea mb-0.5"
      placeholder="Description"
      [(ngModel)]="description"
    ></textarea>

    <input
      type="date"
      id="start"
      name="expiration-date"
      min="2024-01-01"
      max="2030-12-31"
      class="w-full border-2 border-orange-300 input"
      [(ngModel)]="expirationDate"
    />

    <div class="modal-action">
      <form id="modal_action_dialog_form" method="dialog">
        <button
          class="mr-1 text-gray-600 border-2 border-orange-300 btn btn-ghost"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="bg-orange-100 border-2 border-orange-300 btn"
          (click)="addItem()"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
