<div class="hero min-h-fit">
  <div class="w-full max-w-sm shadow-xl card shrink-0 bg-base-100/75">
    <form class="font-bold card-body">
      <div class="flex justify-around">Forgot password</div>
      <div class="form-control">
        <label class="label">
          <span class="label-text font">Email</span>
        </label>
        <input
          type="email"
          placeholder="email"
          class="input input-bordered"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="form-control">
        <div>
          <label class="label">
            <a
              href="/login"
              class="text-blue-800 underline label-text-alt link link-hover"
              >Back to login</a
            >
          </label>
        </div>
      </div>
      <div class="mt-6 form-control">
        <button class="font-bold btn btn-primary" (click)="forgotPassword()">
          Send link
        </button>
      </div>
    </form>
  </div>
</div>
