<div class="hero min-h-fit">
  <div class="w-full max-w-sm shadow-xl card shrink-0 bg-base-100/75">
    <form class="font-bold card-body">
      <div class="flex justify-around">Forgot password</div>
      <div class="form-control">
        <!-- TODO restyle all labels -->
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          type="email"
          placeholder="email"
          class="input input-bordered"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="form-control">
        <div>
          <button
            class="text-blue-800 underline label-text-alt link link-hover"
            (click)="this.router.navigate(['/login'])"
          >
            Back to login
          </button>
        </div>
      </div>
      <div class="mt-6 form-control">
        <button class="font-bold btn btn-primary" (click)="forgotPassword()">
          Send link
        </button>
      </div>
    </form>
  </div>
</div>
