<div class="hero min-h-screen">
  <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100/75">
    <form class="card-body font-bold">
      <div class="flex justify-around">Forgot password</div>
      <div class="form-control">
        <label class="label">
          <span class="label-text font">Email</span>
        </label>
        <input
          type="email"
          placeholder="email"
          class="input input-bordered"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="form-control">
        <div>
          <label class="label">
            <a
              href="/login"
              class="label-text-alt link link-hover text-blue-800 underline"
              >Back to login</a
            >
          </label>
        </div>
      </div>
      <div class="form-control mt-6">
        <button class="btn btn-primary font-bold" (click)="forgotPassword()">
          Send link
        </button>
      </div>
    </form>
  </div>
</div>
