<div class="toast toast-top toast-center z-50">
  <div *ngFor="let toast of toastService.stickyToasts" class="w-96 max-w-sm">
    <div
      class="relative border-black/30 border-4"
      [ngClass]="'shadow-2xl alert alert-' + toast.type"
    >
      <div class="text-wrap mr-9">{{ toast.message }}</div>
      <button
        class="btn btn-circle btn-neutral bg-black/30 text-white/70 border-0 absolute right-1 top-1"
        (click)="this.toastService.removeSticky(toast)"
      >
        ✕
      </button>
    </div>
  </div>
  <div *ngFor="let toast of toastService.toasts" class="w-96 max-w-sm">
    <div
      [ngClass]="'shadow-2xl alert alert-' + toast.type"
      class="relative overflow-hidden"
    >
      <span class="text-wrap mr-9">{{ toast.message }}</span>
      <button
        class="btn btn-circle btn-neutral bg-black/30 text-white/70 border-0 absolute right-1 top-1"
        (click)="this.toastService.remove(toast)"
      >
        ✕
      </button>
      <div
        class="absolute line-animation bg-black/30 h-2 bottom-0 left-0 rounded-lg"
      ></div>
    </div>
  </div>
</div>
