<div
  class="mb-3 flex flex-col p-4 rounded-badge bg-base-100/50 border-orange-300 border-2 shadow-xl"
>
  <span class="mx-4 my-1 text-gray-700 font-semibold">Add new storage</span>
  <div class="flex">
    <input
      type="text"
      placeholder="Name"
      class="input w-full border-orange-300 border-2"
      [(ngModel)]="newStorageName"
    />
    <button
      type="submit"
      class="btn ml-2 btn-circle bg-orange-100 border-orange-300 border-2 text-gray-700"
      (click)="addStorage()"
    >
      <i class="fa-solid fa-plus text-lg"></i>
    </button>
  </div>
</div>

<div
  *ngIf="storages?.length"
  class="join join-vertical w-full shadow-xl border-orange-300 border-2"
>
  <div *ngFor="let storage of storages">
    <div
      class="collapse collapse-arrow join-item glass bg-base-100/50 px-3 shadow-xl"
    >
      <input type="radio" name="storage_items_accordion" />
      <div class="collapse-title text-l">
        <div class="flex justify-between items-center">
          <span class="grow font-semibold">{{ storage.name }}</span>

          <button
            type="submit"
            class="btn btn-sm btn-ghost mx-2"
            (click)="shareStorage(storage.id, storage.name)"
          >
            <i class="fa-solid fa-share"></i>
          </button>

          <!-- TODO: Implement edit storage -->
          <div *ngIf="false && currentUserCanManageStorage(storage)">
            <button class="btn btn-sm btn-ghost">
              <i class="fa-solid fa-pencil"></i>
            </button>
          </div>

          <button
            *ngIf="currentUserCanManageStorage(storage)"
            class="btn btn-sm btn-ghost"
            onclick="delete_item_modal.showModal()"
            (click)="onDeleteItemClicked(storage)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="collapse-content">
        <p class="my-1 text-sm">
          <i class="fa-solid fa-calendar-plus"></i>
          {{ getDateFormatted(storage.createdAt) }}
        </p>
        <div class="my-1 text-sm">
          <div *ngFor="let permission of storage.userPermissions">
            <div>
              <i
                [ngClass]="
                  permission.canManageStorage
                    ? 'fa-solid fa-crown'
                    : 'fa-solid fa-user'
                "
              ></i>
              <span class="ml-1">{{ permission.userName }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delete-modal
  [itemName]="storageSelectedForDelete?.name ?? ''"
  (deleteConfirmed)="onConfirmDelete()"
></app-delete-modal>
