<div>
  <div>
    <div class="flex mb-2 space-x-2">
      <div class="relative">
        <i
          class="fas fa-search text-lg absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
        ></i>
        <input
          type="text"
          class="input input-primary pl-10 pr-4 w-full border-orange-300 border-2"
          [formControl]="searchControl"
          placeholder="Search items"
        />
      </div>
      <button
        class="btn text-gray-700 bg-orange-100 border-orange-300 border-2"
        onclick="add_item_modal.showModal()"
        (click)="clearAddItemForm()"
      >
        <i class="fa-solid fa-plus text-lg"></i>
      </button>
      <div *ngIf="storages?.length">
        <details
          class="dropdown dropdown-bottom dropdown-end z-50"
          #storageDropdown
        >
          <summary class="btn bg-orange-100 border-orange-300 border-2">
            <i class="fa-solid fa-box-open"></i>
          </summary>
          <ul
            class="mt-1 p-2 shadow-xl dropdown-content bg-base-100 rounded-box border-orange-300 border-2"
          >
            <li
              *ngFor="let storage of storages"
              class="rounded-xl menu-title w-full"
              (click)="storageDropdownClicked(storage)"
              [ngClass]="{
                'bg-orange-300': storage.id === selectedStorage?.id
              }"
            >
              {{ storage.name }}
            </li>
          </ul>
        </details>
      </div>
      <div>
        <details
          class="dropdown dropdown-bottom dropdown-end z-50"
          #sortDropdown
        >
          <summary class="btn bg-orange-100 border-orange-300 border-2">
            <i class="fa-solid fa-sort"></i>
          </summary>
          <ul
            class="mt-1 p-2 shadow-xl dropdown-content bg-base-100 rounded-box border-orange-300 border-2"
          >
            <li
              *ngFor="let sortOption of sortOptionsArray"
              class="rounded-xl menu-title w-full flex justify-items-start items-center"
              (click)="sortDropdownClicked(sortOption)"
              [ngClass]="{
                'bg-orange-300': sortOption === selectedSortOption
              }"
            >
              <i
                *ngIf="this.selectedSortOption === sortOption"
                class="fa-solid"
                [ngClass]="getSortDirectionClass()"
              ></i>
              <span class="mx-1">{{ sortOption }}</span>
            </li>
          </ul>
        </details>
      </div>
    </div>

    <div
      *ngIf="filteredItems?.length"
      class="join join-vertical w-full shadow-xl border-orange-300 border-2"
    >
      <div *ngFor="let storageItem of filteredItems">
        <div
          class="collapse collapse-arrow join-item glass bg-base-100/50 px-3 shadow-xl"
        >
          <input type="radio" name="storage_items_accordion" />
          <!-- <input type="checkbox" /> -->
          <div class="collapse-title text-l">
            <div class="flex justify-between items-center">
              <div class="flex">
                <div
                  class="h-5 w-5 mr-4 rounded-full shadow-xl border-gray-500 border-2"
                  [ngClass]="getStatusCircleColorClass(storageItem)"
                ></div>
                <span class="font-semibold">{{ storageItem.name }}</span>
              </div>
              <button
                class="btn btn-sm btn-ghost"
                onclick="edit_item_modal.showModal()"
                (click)="itemSelectedForEdit = storageItem"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>
            </div>
          </div>
          <div class="collapse-content">
            <p
              class="font-semibold font-dot-matrix"
              style="letter-spacing: 0.2rem"
            >
              EXP: {{ getDateFormatted(storageItem.expirationDate) }}
            </p>
            <div
              class="my-3 border-gray-500 border-dashed border-2 h-1 w-full"
            ></div>
            <div class="flex content-center">
              <p class="my-1 text-sm">
                <i class="fa-solid fa-calendar-plus"></i>
                {{ getDateFormatted(storageItem.createdAt) }}
              </p>
              <p class="ml-3 my-1 text-sm">
                <i class="fa-solid fa-user"></i>
                {{ storageItem.lastModifiedBy.substring(0, 28) }}
              </p>
            </div>

            <p class="my-1 font-thin">
              {{ storageItem.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-add-item [selectedStorageId]="selectedStorage?.id"></app-add-item>
  <app-edit-item [itemSelectedForEdit]="itemSelectedForEdit"></app-edit-item>
</div>
