<div>
  <div>
    <div class="flex mb-3 space-x-2">
      <div class="relative">
        <i
          class="absolute text-lg text-gray-400 fas fa-search left-3 top-1/2 transform -translate-y-1/2"
        ></i>
        <input
          type="text"
          class="w-full pl-10 pr-4 border-2 border-orange-300 input input-primary"
          [formControl]="searchControl"
          placeholder="Search items"
        />
      </div>
      <button
        class="text-gray-700 bg-orange-100 border-2 border-orange-300 btn btn-circle"
        [disabled]="!currentUserPermissionsForSelectedStorage?.canCreateItems"
        onclick="add_item_modal.showModal()"
        (click)="clearAddItemForm()"
      >
        <i class="text-lg fa-solid fa-plus"></i>
      </button>
      <div>
        <details
          class="z-40 dropdown dropdown-bottom dropdown-end"
          #storageDropdown
        >
          <summary
            class="text-gray-700 bg-orange-100 border-2 border-orange-300 btn btn-circle"
            [attr.disabled]="storages?.length === 0 ? 'disabled' : null"
          >
            <i class="text-lg fa-solid fa-box-open"></i>
          </summary>
          <ul
            class="p-2 mt-1 border-2 border-orange-300 shadow-xl dropdown-content bg-base-100 rounded-box"
          >
            <li
              *ngFor="let storage of storages"
              class="w-full rounded-xl menu-title"
              (click)="storageDropdownClicked(storage)"
              [ngClass]="{
                'bg-orange-300': storage.id === selectedStorage?.id
              }"
            >
              {{ storage.name }}
            </li>
          </ul>
        </details>
      </div>
      <div>
        <details
          class="z-40 dropdown dropdown-bottom dropdown-end"
          #sortDropdown
        >
          <summary
            class="text-gray-700 bg-orange-100 border-2 border-orange-300 btn btn-circle"
            [attr.disabled]="filteredItems?.length === 0 ? 'disabled' : null"
          >
            <i class="text-lg fa-solid fa-sort"></i>
          </summary>
          <ul
            class="p-2 mt-1 border-2 border-orange-300 shadow-xl dropdown-content bg-base-100 rounded-box"
          >
            <li
              *ngFor="let sortOption of sortOptionsArray"
              class="flex items-center w-full rounded-xl menu-title justify-items-start"
              (click)="sortDropdownClicked(sortOption)"
              [ngClass]="{
                'bg-orange-300': sortOption === selectedSortOption
              }"
            >
              <i
                *ngIf="selectedSortOption === sortOption"
                class="fa-solid"
                [ngClass]="getSortDirectionClass()"
              ></i>
              <span class="mx-1">{{ sortOption }}</span>
            </li>
          </ul>
        </details>
      </div>
    </div>

    <div
      *ngIf="
        filteredItems?.length &&
        currentUserPermissionsForSelectedStorage?.canReadItems
      "
      class="w-full border-2 border-orange-300 shadow-xl join join-vertical"
    >
      <div *ngFor="let storageItem of filteredItems">
        <div
          class="px-3 shadow-xl collapse collapse-arrow join-item glass bg-base-100/50"
        >
          <input type="radio" name="storage_items_accordion" />
          <!-- <input type="checkbox" /> -->
          <div class="collapse-title text-l">
            <div class="flex items-center justify-between">
              <div
                *ngIf="
                  getDaysToExpire(storageItem.expirationDate) < 0;
                  then expiredIcon;
                  else statusCircle
                "
              ></div>
              <ng-template #statusCircle>
                <div
                  class="w-5 h-5 border-2 border-gray-500 rounded-full shadow-xl"
                  [ngClass]="getStatusCircleColorClass(storageItem)"
                ></div>
              </ng-template>
              <ng-template #expiredIcon>
                <i class="text-red-500 fa-solid fa-exclamation-triangle"></i>
              </ng-template>

              <span class="ml-4 font-semibold grow">{{
                storageItem.name.length <= 18
                  ? storageItem.name
                  : storageItem.name.slice(0, 18) + "..."
              }}</span>

              <button
                *ngIf="currentUserPermissionsForSelectedStorage?.canUpdateItems"
                class="btn btn-sm btn-ghost"
                onclick="edit_item_modal.showModal()"
                (click)="itemSelectedForEdit = storageItem"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>

              <button
                *ngIf="currentUserPermissionsForSelectedStorage?.canDeleteItems"
                class="btn btn-sm btn-ghost"
                onclick="delete_item_modal.showModal()"
                (click)="onDeleteItemClicked(storageItem)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="collapse-content">
            <p
              class="font-semibold font-dot-matrix"
              style="letter-spacing: 0.2rem"
            >
              EXP: {{ getDateFormatted(storageItem.expirationDate) }}
            </p>
            <div
              class="w-full h-1 my-3 border-2 border-gray-500 border-dashed"
            ></div>
            <div class="flex content-center">
              <p class="my-1 text-sm">
                <i class="fa-solid fa-calendar-plus"></i>
                {{ getDateFormatted(storageItem.createdAt) }}
              </p>
              <p class="my-1 ml-3 text-sm">
                <i class="fa-solid fa-user"></i>
                {{ storageItem.lastModifiedBy.substring(0, 28) }}
              </p>
            </div>

            <p class="my-1 font-thin">
              {{ storageItem.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-add-item [selectedStorageId]="selectedStorage?.id"></app-add-item>

  <app-edit-item
    [selectedStorageId]="selectedStorage?.id"
    [itemSelectedForEdit]="itemSelectedForEdit"
  ></app-edit-item>

  <app-delete-modal
    [itemName]="itemSelectedForDelete?.name ?? ''"
    (deleteConfirmed)="onConfirmDelete()"
  ></app-delete-modal>
</div>
