.sidenav {
  width: 60px; /* Set your desired width */
}

.sidenav-button {
  width: 100%;
  text-align: center;
  padding: 16px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: #333; /* Adjust the color as needed */
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-button-text {
  display: none;
}

.sidenav-button.expanded .sidenav-button-text {
  display: block;
}

.router-content-container {
  padding: 1rem;
}

.router-content {
  background-color: white;
  border: 5px solid #673ab7;
  border-radius: 10px;
  padding: 1rem;
}
