<div class="relative max-w-sm min-h-screen p-3 mx-auto overflow-x-hidden">
  <div>
    <!-- Top Logo and Text Container -->
    <div
      class="fixed z-50 max-w-sm px-4 py-2 mx-auto bg-orange-100 border-2 border-orange-300 rounded-full shadow-xl isStandalone:mt-14 inset-x-4 top-2"
    >
      <div
        class="flex items-center justify-around space-x-3 text-4xl font-semibold text-gray-700 uppercase"
      >
        <span>N</span>
        <span>E</span>
        <span>X</span>
        <span>P</span>
        <span>I</span>
        <span>R</span>
        <div class="rounded-full outline outline-gray-700 outline-4">
          <img src="../../../assets/logo.svg" alt="Nexpiro" class="w-7 h-7" />
        </div>
      </div>
    </div>

    <div class="w-full mt-20 router-content">
      <router-outlet></router-outlet>
    </div>

    <!-- Bottom Menu Items -->
    <div
      *ngIf="loggedIn"
      class="fixed z-50 flex items-center justify-around max-w-sm px-4 py-2 mx-auto bg-orange-100 border-2 border-orange-300 rounded-full shadow-xl bottom-2 inset-x-4"
    >
      <a class="tooltip tooltip-top" data-tip="Home" routerLink="/dashboard">
        <i class="w-6 h-6 text-gray-600 fas fa-home"></i>
      </a>
      <a
        class="tooltip tooltip-top"
        data-tip="Storages"
        routerLink="/manage-storages"
      >
        <i class="w-6 h-6 text-gray-600 fas fa-home"></i>
      </a>
      <a
        class="tooltip tooltip-top"
        data-tip="Items"
        routerLink="/view-storage"
      >
        <i class="w-6 h-6 text-gray-600 fas fa-info-circle"></i>
      </a>
    </div>
  </div>

  <app-toast></app-toast>
</div>
