<div class="relative p-3 min-h-screen max-w-sm mx-auto overflow-x-hidden">
  <div *ngIf="loggedIn">
    <!-- Top Logo and Text Container -->
    <div
      class="border-gray-500 border-4 bg-orange-100 z-50 rounded-full glass px-4 py-2 mb-4 shadow-xl"
    >
      <div
        class="uppercase text-4xl text-gray-700 font-semibold flex justify-around items-center"
      >
        <span>N</span>
        <span>E</span>
        <span>X</span>
        <span>P</span>
        <span>I</span>
        <span>R</span>
        <div class="rounded-full outline outline-gray-700 outline-4">
          <img src="../../../assets/logo.svg" alt="Nexpiro" class="w-7 h-7" />
        </div>
      </div>
    </div>

    <!-- Bottom Menu Items -->
    <div class="z-50 fixed bottom-4 inset-x-4 max-w-sm mx-auto">
      <div
        class="rounded-full glass bg-base-100/75 px-4 py-2 shadow-xl flex items-center justify-around"
      >
        <a class="tooltip tooltip-top" data-tip="Home" routerLink="/dashboard">
          <i class="fas fa-home text-gray-600 h-6 w-6"></i>
        </a>
        <!-- <a class="tooltip tooltip-top" data-tip="Home" routerLink="/dashboard">
          <i class="fas fa-home text-gray-600 h-6 w-6"></i>
        </a>
        <a class="tooltip tooltip-top" data-tip="Home" routerLink="/dashboard">
          <i class="fas fa-home text-gray-600 h-6 w-6"></i>
        </a> -->
        <a class="tooltip tooltip-top" data-tip="Home" routerLink="/dashboard">
          <i class="fas fa-home text-gray-600 h-6 w-6"></i>
        </a>
        <a
          class="tooltip tooltip-top"
          data-tip="Details"
          routerLink="/view-storage"
        >
          <i class="fas fa-info-circle text-gray-600 h-6 w-6"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="router-content w-full">
    <router-outlet></router-outlet>
  </div>

  <app-toast></app-toast>
</div>
