<dialog id="edit_item_modal" class="modal">
  <div class="modal-box m-4 w-fit">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <h3 class="font-bold text-lg">Edit item</h3>
    <input
      type="text"
      placeholder="Name"
      class="input input-ghost w-full"
      [(ngModel)]="name"
    />
    <textarea
      class="textarea textarea-ghost w-full"
      placeholder="Description"
      [(ngModel)]="description"
    ></textarea>
    <input
      type="date"
      id="start"
      name="expiration-date"
      min="2024-01-01"
      max="2030-12-31"
      class="input input-ghost w-full"
      [(ngModel)]="expirationDate"
    />
    <div class="modal-action">
      <form id="modal_action_dialog_form" method="dialog">
        <button class="btn btn-ghost mr-1">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="editItem()">
          Confirm
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
