<dialog id="edit_storage_modal" class="modal">
  <div class="max-w-sm modal-box inset-x-4 bg-sky-100">
    <form method="dialog">
      <button class="absolute btn btn-sm btn-circle btn-ghost right-2 top-2">
        ✕
      </button>
    </form>

    <h3 class="text-lg font-bold">Edit storage</h3>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Name</span>
      </label>
      <input
        type="text"
        placeholder="Name"
        class="w-full border-2 border-orange-300 input"
        [(ngModel)]="name"
      />
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Users and permissions</span>
      </label>
      <div
        *ngIf="userPermissions && (userPermissions | keyvalue).length > 0"
        class="w-full overflow-y-scroll border-2 border-orange-300 shadow-xl join join-vertical max-h-96"
        style="scrollbar-width: none"
      >
        <div *ngFor="let userPermission of userPermissions | keyvalue">
          <div
            class="shadow-sm collapse collapse-arrow join-item bg-base-100/50"
          >
            <input type="checkbox" name="user_permissions_accordion" />
            <div class="collapse-title">
              <!-- TODO figure out a way to display user name instead of uid -->
              <span class="font-semibold w-20">{{
                userPermission.key.length <= 20
                  ? userPermission.key
                  : userPermission.key.slice(0, 20) + "..."
              }}</span>
              <!-- TODO figure out a way to fix UI with really long user names (becomes scrolling) -->
            </div>
            <div class="collapse-content">
              <div class="form-control">
                <label class="cursor-pointer label">
                  <span class="label-text">View items</span>
                  <input
                    type="checkbox"
                    [checked]="userPermission.value.canReadItems"
                    (change)="
                      userPermission.value.canReadItems =
                        !userPermission.value.canReadItems
                    "
                    class="toggle toggle-accent"
                  />
                </label>
              </div>
              <div class="form-control">
                <label class="cursor-pointer label">
                  <span class="label-text">Add items</span>
                  <input
                    type="checkbox"
                    [checked]="userPermission.value.canCreateItems"
                    (change)="
                      userPermission.value.canCreateItems =
                        !userPermission.value.canCreateItems
                    "
                    class="toggle toggle-accent"
                  />
                </label>
              </div>
              <div class="form-control">
                <label class="cursor-pointer label">
                  <span class="label-text">Edit items</span>
                  <input
                    type="checkbox"
                    [checked]="userPermission.value.canUpdateItems"
                    (change)="
                      userPermission.value.canUpdateItems =
                        !userPermission.value.canUpdateItems
                    "
                    class="toggle toggle-accent"
                  />
                </label>
              </div>
              <div class="form-control">
                <label class="cursor-pointer label">
                  <span class="label-text">Delete items</span>
                  <input
                    type="checkbox"
                    [checked]="userPermission.value.canDeleteItems"
                    (change)="
                      userPermission.value.canDeleteItems =
                        !userPermission.value.canDeleteItems
                    "
                    class="toggle toggle-accent"
                  />
                </label>
              </div>
              <div class="form-control">
                <label class="cursor-pointer label">
                  <span class="label-text">Manage storage</span>
                  <input
                    type="checkbox"
                    [checked]="userPermission.value.canManageStorage"
                    (change)="
                      userPermission.value.canManageStorage =
                        !userPermission.value.canManageStorage
                    "
                    class="toggle toggle-accent"
                  />
                </label>
              </div>
              <div>
                <button
                  class="btn btn-error"
                  (click)="removeUserPermission(userPermission.key)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-action">
      <form id="modal_action_dialog_form" method="dialog">
        <button class="mr-1 btn btn-ghost">Cancel</button>
        <button
          type="submit"
          class="bg-orange-100 border-2 border-orange-300 btn"
          (click)="editStorage()"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
