<div class="modal-box m-4 w-fit">
  <h3 class="font-bold text-lg">Invite</h3>

  <div>
    {{ this.shareToken?.sharedByUserName }} has shared the '{{
      this.shareToken?.storageName
    }}' storage with you. Do you want to accept the invitation?
  </div>

  <div class="modal-action">
    <form id="modal_action_dialog_form" method="dialog">
      <button class="btn btn-outline btn-error mr-1" (click)="declineInvite()">
        Reject
      </button>
      <button type="submit" class="btn btn-primary" (click)="acceptInvite()">
        Accept
      </button>
    </form>
  </div>
</div>
<form method="dialog" class="modal-backdrop">
  <button>close</button>
</form>
