<dialog id="delete_item_modal" class="modal">
  <div class="modal-box m-4 w-fit">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <h3 class="font-bold text-lg">Confirm delete</h3>

    <div class="mt-4">
      Are you sure you want to delete
      <span class="font-bold">{{ itemName }}</span
      >?
    </div>

    <div class="modal-action">
      <form id="modal_action_dialog_form" method="dialog">
        <button class="btn btn-ghost mr-1">Cancel</button>
        <button type="submit" class="btn btn-error" (click)="onConfirmDelete()">
          Delete
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
